
*{
    box-sizing: border-box;
}
.game{
    display:flex;
    justify-content: center;
    align-items: center;
}
#mine_board{
    display: grid;
    background-color: gray;
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #2DD881;
    background-color: gray;
    cursor: pointer;
    color: #2DD881;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: lightgoldenrodyellow;
}

